.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 16px;
}

.closeButton {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-start;
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 16px;
    margin-bottom: 16px;

}

.label {
    margin-right: 20px;
    color: white;
}


