.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    color: #ffffff;
    background-color: #581449;
    font-family: Roboto;
    font-size: 10px;
    
}

.left-side {
    font-weight: bold;
}

.right-side ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;


}

.right-side li {
    margin-right: 10px;

}

.right-side a {
    text-decoration: none;
    color: #ffffff;
}

.right-side a:hover {
    text-decoration: underline;
}
