.container {
    background: rgba(255, 255, 255, 0.15);
   
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 16px;

    /* Add any other desired styles */
}
